# JSON web token (JWT) secret: this keeps our app's user authentication secure
# This secret should be a random 20-ish character string
JWT_SECRET ='p4sta.w1th-b0logn3s3-s@uce'

# Mongo DB
# Local development
MONGODB_URI='mongodb://localhost/travelbuddy-nodejs'
MONGODB_DB='travelbuddy-dev'
AGENDA_DB_COLLECTION='agendaJobs'
AGENDA_POOL_TIME=1 days
AGENDA_CONCURRENCY=20

# Port
PORT=3000

# Debug
LOG_LEVEL='debug'